In [18]:
'''
AI Assisted GL Mapping
Code 
'''

import csv
import pandas as pd
#import re


#Cleanup of data
def cleanup_data():
    #Converting the excel file into a pandas dataframe
    training_data = pd.read_excel('AI_POC - Updated.xlsx', sheet_name=0)
    test_data = pd.read_excel('AI_POC - Updated.xlsx', sheet_name=1)
    print(training_data.head())
    training_data['Gl_Account_Id']=training_data['Gl_Account_Id'].str.lower()
    training_data['Description']=training_data['Description'].str.lower()
    training_data['Account_Group']=training_data['Account_Group'].str.lower()
    training_data['GL_Nature']=training_data['GL_Nature'].str.lower()
    training_data['Grouping_Id_desc']=training_data['Grouping_Id_desc'].str.lower()
    training_data['Description'].replace('[^A-Za-z0-9 ]+', '', regex=True, inplace=True)
    training_data['Description'].replace('  ', ' ', regex=True, inplace=True)
    training_data['Account_Group'].replace('[^A-Za-z0-9 ]+', '', regex=True, inplace=True)
    training_data['Account_Group'].replace('  ', ' ', regex=True, inplace=True)
    training_data['GL_Nature'].replace('[^A-Za-z0-9 ]+', '', regex=True, inplace=True)
    training_data['Grouping_Id_desc'].replace('[^A-Za-z0-9 ]+', '', regex=True, inplace=True)
    print(training_data[:15])
    
    
cleanup_data()

   Taxonomy_Id  Coa_Master_Id  tenant_id  Template_Id Gl_Account_Id  \
0           39           6514     100004       130152        536001
1           39           6514     100004       130152        536001
2           39           6514     100004       130152        536001
3           39           6514     100004       130152        536001
4           39           6514     100004       130152        536002

                Description Account_Group GL_Nature Grouping_Id_desc  \
0              Bank Charges  Bank Charges   Expense     Bank Charges
1              Bank Charges  Bank Charges   Expense     Bank Charges
2              Bank Charges  Bank Charges   Expense     Bank Charges
3              Bank Charges  Bank Charges   Expense     Bank Charges
4  Bank Guaratee Commission  Bank Charges   Expense     Bank Charges

   Grouping_Id  Reverse_Flag GL_Nature.1  Level1_Grouping_Id  \
0      2100420             0     Expense             2100248
1      2100420             0     Expense             2100248
2      2100420             0     Expense             2100248
3      2100420             0     Expense             2100248
4      2100420             0     Expense             2100248

  Level1_Grouping_Id_desc  Level_2_Grouping_Id Level_2_Grouping_Id_desc
0          Other expenses              2100002           Total expenses
1          Other expenses              2100002           Total expenses
2          Other expenses              2100002           Total expenses
3          Other expenses              2100002           Total expenses
4          Other expenses              2100002           Total expenses
    Taxonomy_Id  Coa_Master_Id  tenant_id  Template_Id Gl_Account_Id  \
0            39           6514     100004       130152           NaN
1            39           6514     100004       130152           NaN
2            39           6514     100004       130152           NaN
3            39           6514     100004       130152           NaN
4            39           6514     100004       130152           NaN
5            39           6514     100004       130152           NaN
6            39           6514     100004       130152           NaN
7            39           6514     100004       130152           NaN
8            39           6514     100004       130152           NaN
9            39           6514     100004       130152           NaN
10           39           6514     100004       130152           NaN
11           39           6514     100004       130152           NaN
12           39           6513     100003       130140           NaN
13           39           6513     100003       130140           NaN
14           39           6513     100003       130140           NaN

                 Description          Account_Group GL_Nature  \
0               bank charges           bank charges   expense
1               bank charges           bank charges   expense
2               bank charges           bank charges   expense
3               bank charges           bank charges   expense
4   bank guaratee commission           bank charges   expense
5   bank guaratee commission           bank charges   expense
6   bank guaratee commission           bank charges   expense
7   bank guaratee commission           bank charges   expense
8      interest bank charges  interest bank charges   expense
9      interest bank charges  interest bank charges   expense
10     interest bank charges  interest bank charges   expense
11     interest bank charges  interest bank charges   expense
12       postage courier chg          communication   expense
13       postage courier chg          communication   expense
14       postage courier chg          communication   expense

   Grouping_Id_desc  Grouping_Id  Reverse_Flag GL_Nature.1  \
0      bank charges      2100420             0     Expense
1      bank charges      2100420             0     Expense
2      bank charges      2100420             0     Expense
3      bank charges      2100420             0     Expense
4      bank charges      2100420             0     Expense
5      bank charges      2100420             0     Expense
6      bank charges      2100420             0     Expense
7      bank charges      2100420             0     Expense
8      bank charges      2100420             0     Expense
9      bank charges      2100420             0     Expense
10     bank charges      2100420             0     Expense
11     bank charges      2100420             0     Expense
12    communication      2100429             0     Expense
13    communication      2100429             0     Expense
14    communication      2100429             0     Expense

    Level1_Grouping_Id Level1_Grouping_Id_desc  Level_2_Grouping_Id  \
0              2100248          Other expenses              2100002
1              2100248          Other expenses              2100002
2              2100248          Other expenses              2100002
3              2100248          Other expenses              2100002
4              2100248          Other expenses              2100002
5              2100248          Other expenses              2100002
6              2100248          Other expenses              2100002
7              2100248          Other expenses              2100002
8              2100248          Other expenses              2100002
9              2100248          Other expenses              2100002
10             2100248          Other expenses              2100002
11             2100248          Other expenses              2100002
12             2100248          Other expenses              2100002
13             2100248          Other expenses              2100002
14             2100248          Other expenses              2100002

   Level_2_Grouping_Id_desc
0            Total expenses
1            Total expenses
2            Total expenses
3            Total expenses
4            Total expenses
5            Total expenses
6            Total expenses
7            Total expenses
8            Total expenses
9            Total expenses
10           Total expenses
11           Total expenses
12           Total expenses
13           Total expenses
14           Total expenses